div[class^="category-title-header"] {
  width: 100%;

  .category-title-contents {
    padding-top: 80px;
    padding-bottom: 80px;

    .d-icon-lock {
      height: 1.5em;
      width: 1.1em;
      margin-right: 0.25em;
    }

    .category-title {
      margin-bottom: 24px;
      font-size: 44px;
    }

    .category-icon-widget {
      .category-icon {
        .d-icon {
          height: 1.5em;
          width: 1.5em;
          margin-right: 0.75em;
        }
      }
    }
  }

  .category-title-description {
    a,
    a:visited {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.category-header {
  #main-outlet {
    padding-top: 20px;
  }
}

.category-title-contents {
  display: flex;
  justify-content: space-between;
}
